.searchForm {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.searchInput {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #1f273c;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #1f273c;
  color: #fff;

  &:focus {
    outline: none;
    border-color: #9f69f5;
  }
}

.searchButton {
  padding: 0.75rem 1.5rem;
  background: #9f69f5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.searchButton:hover {
  background: #7f59d5;
}
